@tailwind base;
@tailwind components;
@tailwind utilities;

.linksColor a.active {
  color: red;
}

a.active {
  background: transparent;
}

.font-name {
  font-family: 'FontName', sans-serif;
}
.drawer-side a.active {
  color: white;
}

.drawer-side a {
  background-color: transparent;
}

.drawer-side a:hover {
  background-color: rgba(128, 128, 128, 0.339);
}

